version: "3"
services:
  app:
    image: ransacflow:latest
    build: .
    environment:
      - DISPLAY=${DISPLAY}
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
    network_mode: host
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]