anyio==4.3.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asttokens==2.4.1
async-lru==2.0.4
attrs==23.2.0
Babel==2.14.0
backcall==0.2.0
beautifulsoup4==4.9.3
bleach==6.1.0
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
charset-normalizer==3.3.2
comm==0.2.2
conda==4.9.1
conda-build==3.20.5
conda-package-handling==1.7.0
contourpy==1.1.1
cryptography==42.0.4
cycler==0.12.1
dataclasses==0.6
debugpy==1.8.1
decorator==4.4.2
defusedxml==0.7.1
dnspython==2.0.0
exceptiongroup==1.2.0
executing==2.0.1
fastjsonschema==2.19.1
filelock==3.0.12
fonttools==4.51.0
future==0.18.2
glob2==0.7
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
idna==2.9
importlib-metadata==7.1.0
importlib-resources==6.4.0
ipykernel==6.29.4
ipython==8.12.3
ipython-genutils==0.2.0
ipywidgets==8.1.2
jedi==0.17.2
Jinja2==3.1.3
json5==0.9.25
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter-client==8.6.1
jupyter-core==5.7.2
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter-server==2.14.0
jupyter-server-terminals==0.5.3
jupyterlab==4.1.6
jupyterlab-pygments==0.3.0
jupyterlab-server==2.26.0
jupyterlab-widgets==3.0.10
kiwisolver==1.4.5
kornia==0.1.4.post2
libarchive-c==2.9
MarkupSafe==2.1.5
matplotlib==3.7.5
matplotlib-inline==0.1.7
mistune==3.0.2
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
nbclient==0.10.0
nbconvert==7.16.3
nbformat==5.10.4
nest-asyncio==1.6.0
notebook-shim==0.2.4
numpy==1.24.4
olefile==0.46
opencv-python==3.4.8.29
overrides==7.7.0
packaging==24.0
pandas==2.0.3
pandocfilters==1.5.1
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.0.0
pkginfo==1.6.0
pkgutil-resolve-name==1.3.10
platformdirs==4.2.0
prometheus-client==0.20.0
prompt-toolkit==3.0.43
psutil==5.7.2
ptyprocess==0.6.0
pure-eval==0.2.2
pycosat==0.6.3
pycparser==2.20
Pygments==2.7.1
pyOpenSSL==19.1.0
pyparsing==3.1.2
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-etcd==0.4.5
python-json-logger==2.0.7
pytz==2020.1
PyYAML==5.3.1
pyzmq==26.0.0
referencing==0.34.0
requests==2.31.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.18.0
ruamel-yaml==0.15.87
scipy==1.10.1
Send2Trash==1.8.3
six==1.14.0
sniffio==1.3.1
soupsieve==2.0.1
stack-data==0.6.3
terminado==0.18.1
tinycss2==1.2.1
tomli==2.0.1
torch==1.7.0
torchelastic==0.2.1
torchvision==0.8.0
tornado==6.4
tqdm==4.46.0
traitlets==5.14.2
typing-extensions==4.11.0
tzdata==2024.1
urllib3==1.25.8
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.7.0
widgetsnbextension==4.0.10
zipp==3.18.1
